Source: pg-tm-aux-12
Section: database
Priority: optional
Maintainer: Andrey Borodin (Yandex.Cloud) <x4mmm@yandex-team.ru>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 195~), git, postgresql-server-dev-12
Standards-Version: 1.1-0
Homepage: https://github.yandex-team.ru/mdb/pg_tm_aux

Package: pg-tm-aux-12
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-12
Description: Extension for PostgreSQL for collecting statistics about messages in logfile
