#!/usr/bin/make -f

override_dh_auto_build:
	+pg_buildext build build-%v

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

override_dh_auto_install:
	+export PG_SUPPORTED_VERSIONS=10+ && pg_buildext loop pg-tm-aux-%v

override_dh_auto_clean:
	+pg_buildext clean build-%v
	rm -rf pg_tm_aux

%:
	dh $@
